<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    cacheDirectory="/tmp/.phpunit.cache"
    executionOrder="depends,random"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutCoverageMetadata="true"
    controlGarbageCollector="true"
>

    <php>
        <ini name="memory_limit" value="-1" />
    </php>

    <testsuites>
        <testsuite name="Plugin Tests">
            <directory>src/ValksorPlugin/Tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src/ValksorPlugin</directory>
        </include>
        <exclude>
            <directory>.coverage</directory>
            <directory>.github</directory>
            <directory>.phpunit.cache</directory>
            <directory>core</directory>
            <directory>src/ValksorPlugin/**/.coverage</directory>
            <directory>src/ValksorPlugin/**/.github</directory>
            <directory>src/ValksorPlugin/**/.phpunit.cache</directory>
            <directory>src/ValksorPlugin/**/Resources</directory>
            <directory>src/ValksorPlugin/**/Tests</directory>
            <directory>src/ValksorPlugin/**/docs</directory>
            <directory>src/ValksorPlugin/**/recipe</directory>
            <directory>src/ValksorPlugin/**/var</directory>
            <directory>src/ValksorPlugin/**/vendor</directory>
            <directory>vendor</directory>
        </exclude>
    </source>

    <coverage
        ignoreDeprecatedCodeUnits="true"
        disableCodeCoverageIgnore="true"
    >
        <report>
            <clover outputFile=".coverage/clover.xml"/>
            <cobertura outputFile=".coverage/cobertura.xml"/>
            <html outputDirectory=".coverage"/>
            <text outputFile=".coverage/coverage.txt"/>
        </report>
    </coverage>

    <logging>
        <junit outputFile=".coverage/junit.xml"/>
        <testdoxHtml outputFile=".coverage/testdox.html"/>
        <testdoxText outputFile=".coverage/testdox.txt"/>
    </logging>
</phpunit>
